.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: start; /* Align at the top */
    padding: 20px;
    margin: 0;
}

.flex-item {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-image {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-left: auto;
}

.edit-button, .delete-button {
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button {
    background-color: green;
}

.delete-button {
    background-color: red;
}

.btn-light-pink {
    background-color: #FFB6C1;
    border-color: #FFB6C1;
    color: white;
}

.btn-light-pink:hover {
    background-color: #FF69B4;
    border-color: #FF69B4;
    color: white;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
    .flex-item {
        width: 100%;
    }
}

/* Additional Styles */

#friends-container ul, #posts-container ul {
    list-style-type: none;
    padding: 0;
}

#friends-container li, #posts-container li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E0E0E0;
}

#posts-container .list-group-item {
    border: none;
}

.post-info img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.like-button, .dislike-button, .share-button {
    border: none;
    background: none;
}

.comments-section form textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    padding: 10px;
    margin-top: 10px;
}

.comments-section form button {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
