
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.flex-item {
    flex: 1; 
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box; 
}

.profile-image {
    max-width: 150px; 
    max-height: 150px; 
}


@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
    .flex-item {
        width: 100%;
    }
}

.action-link {
    background-color: transparent;
    color: #007BFF;
    margin-right: 0;
    padding: 5px;
    text-decoration: none;
}
.action-link:hover {
    background-color: transparent;
    color: #0056b3;
}

