
body {
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 8px 0;
    text-align: center;
}

.posts-container {
    overflow-y: auto;
    max-height: 70vh;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

p {
    margin: 0;
}

.comments-section {
    margin-top: 20px;
}

.comments-list {
    list-style-type: none;
    padding: 0;
}

.comment {
    margin-bottom: 5px;
}

.post {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Style for the comment form */
.comment-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.comment-form textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.comment-form button {
    background-color: #333;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
