# .gitattributes

# Exclude the "admin" and "fontawesomefree" folders
DawgSocial/DawgSocial/staticfiles/admin/* linguist-vendored
DawgSocial/DawgSocial/staticfiles/fontawesomefree/* linguist-vendored
