<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>
    <div class="container">
        <h1>Create an Account</h1>
        <!-- Registration Form -->
        <form action="register.php" method="post">
            <!-- First Name Input -->
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" required>
            </div>
            <!-- Last Name Input -->
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" required>
            </div>
            <!-- Email Input -->
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <!-- Birthday Input -->
            <div class="form-group">
                <label for="birthday">Birthday:</label>
                <input type="date" id="birthday" name="birthday" required>
            </div>
            <!-- Create Account Button -->
            <button type="submit" class="btn">Create Account</button>
        </form>
        <!-- Login Link -->
        <p>Already have an account? <a href="{% url 'login' %}" class="btn btn-login">Login</a></p>

    </div>
</body>
</html>
