<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>{% block title %}My site{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-nowrap">
        <div class="container-fluid">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="profileDropdown">
                    <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                    <a class="dropdown-item" href="{% url 'profile_update' %}">Update Profile</a>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Timeline</a>
                </li>
                
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                {% endif %}
            </ul>
            
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <span class = 'navbar-text'>Logged in as {{user.username}} | </span>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login/Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <div class="container">{% block content %}{% endblock %}</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>