{% extends 'Main/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        .flex-container {
            display: flex;
            align-items: stretch; /* This makes all items equal in height */
        }
    </style>
</head>
<body style="background-color: #CFCFC4;">
    <div class="flex-container">
        <div class="flex-item" id="friends-container">
            <h2>Friends:</h2>
            <ul>
                {% for friend in request.user.profile.friends.all %}
                    <li>
                        {% if friend.profile.image %}
                            <img src="{{ friend.profile.image.url }}" style="max-width: 50px; max-height: 50px; border-radius: 50%;" alt="Profile Image">
                        {% endif %}
                        <a href="{% url 'user_profile' friend.username %}" style="text-decoration: none; color: inherit;">{{ friend.username }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="flex-item" id="posts-container">
            <h2>Posts <a href="{% url 'create_post' %}" class="btn btn-success">Create Post</a></h2>
            <ul class="list-group">
                {% for post in posts %}
                    {% if post.user in request.user.profile.friends.all %}
                        <li class="list-group-item">
                            <div class="post-info">
                                {% if post.shared_user %}
                                <p>Reposted from: {{ post.shared_user.username }}</p>
                                {% endif %}
                                <p>Author: {{ post.user.username }}</p>
                                {% if post.content %}
                                    <img src="{{ post.content.url }}" style="max-width: 100px; max-height: 100px;" alt="Post media file">
                                {% else %}
                                    <p>Post not available</p>
                                {% endif %}
                                <p>{{ post.caption }}</p>
                                <form method="post" action="{% url 'like' post.id %}" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                    <button type="submit" class="like-button">
                                        {% if request.user in post.liked_by.all %}<i class="fa-solid fa-heart"></i>{% else %}<i class="fa-regular fa-heart"></i>{% endif %}
                                    </button>
                                </form>
                                <form method="post" action="{% url 'dislike' post.id %}" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                    <button type="submit" class="dislike-button">
                                        {% if request.user in post.disliked_by.all %}<i class="fa-solid fa-thumbs-down"></i>{% else %}<i class="fa-regular fa-thumbs-down"></i>{% endif %}
                                    </button>
                                </form>


                                <form method="post" action="{% url 'favorite' post.id %}" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                    <button type="submit" class="favorite-button">
                                        {% if request.user in post.favorited_by.all %}<i class="fa-solid fa-star"></i>{% else %}<i class="fa-regular fa-star"></i>{% endif %}
                                    </button>
                                </form>

                                
                                <form method="post" action="{% url 'share_post' post.id %}" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                    <button type="submit" class="share-button">
                                        <i class="fa-solid fa-share"></i>
                                    </button>
                                </form>

                                <p id="like-count-{{ post.id }}">{{ post.liked_by.count }} Likes {{post.disliked_by.count }} DisLikes</p
                                <p>Date posted: {{ post.created_at|date:"F d, Y" }}</p>

                            </div>
                            <!-- Comments Section -->
                            <div class="comments-section">
                                <h4>Comments:</h4>
                                <ul>
                                    {% for comment in post.comments.all %}
                                        <li>
                                            {{ comment.user.username }}: {{ comment.content }}
                                            {% if comment.user == request.user %}
                                                <a href="{% url 'delete_comment' comment.id %}"><i class="fa-solid fa-trash"></i></a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <form method="post" action="{% url 'post_comment' post.id %}">
                                    {% csrf_token %}
                                    <textarea name="comment_content" placeholder="Add a comment..."></textarea>
                                    <button type="submit">Comment</button>
                                </form>

                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>        
    </div>
        
</body>
</html>
{% endblock %}
