{% extends 'Main/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">
</head>
<body>
    <h1> Welcome to the dashboard! </h1>
    <div class="flex-container">
        <div class="flex-item">
            <h2>Friend List:</h2>
            <p>Where the list of friends will be displayed.</p>
        </div>

        <div class= "flex-item">
            <h2>Posts</h2>
            <p>Where the posts will be located.</p>
        </div>
        <div class="flex-item">
            <h1>Welcome {{user.username}}!</h1>
            {% if userprofile.image %}
            <img src="{{userprofile.image.url}}" style="max-width: 150px; max-height: 150px;">
            {% else %}
            <img src="{% static 'default-avatar.png' %}" style="max-width: 150px; max-height: 150px;" alt="Default Avatar">
            {% endif %}
        </div>

    </div>
</body>
</html>
{% endblock %}
