{% extends 'Main/base.html' %}

{% block content %}
<style>
    body {
    background-color: #f4f4f4; 
    font-family: 'Open Sans', sans-serif; 
    color: #333;
    line-height: 1.6;
}

.confirm-button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    display: block; 
    margin-top: 20px;
}

.confirm-button:hover {
   background-color: #0056b3;
}
.delete-confirmation-container{
    width: fit-content;
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

</style>
<body>
<div class="delete-confirmation-container">
    <h2>Are you sure you want to delete this post?</h2>
    <img src="{{ post.content.url }}" style="max-width: 300px; max-height: 300px;border-radius: 5px;" alt="Post media file">
    <p>{{ post.caption }}</p>
    <form method="post" class="confirmation-form">
    {% csrf_token %}
    <label>
        <input type="radio" name="delete_choice" value="yes" required> Yes, Delete
    </label>
    <label>
        <input type="radio" name="delete_choice" value="no" required> No, Keep it
    </label>
    <button type="submit" class="confirm-button">Confirm Choice</button>
</form>
</div>


</body>
{% endblock %}