{% extends 'Main/base.html' %}

{% block content %}
<body style="background-color: #CFCFC4;">

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- Render content input (with file accept attributes for images and videos) -->
    <label for="{{ form.content.id_for_label }}">Upload New Post:</label>
    {{ form.content }}
    
    <!-- Display the current uploaded file as an image, if it exists -->
    {% if form.instance.content %}
    <img src="{{ form.instance.content.url }}" style="max-width: 100px; max-height: 100px;"alt="Current media file">
    {% endif %}
     
    <!-- Render caption textarea -->
    <label for="{{ form.caption.id_for_label }}">Edit Caption:</label>
    {{ form.caption }}
    
    <button type="submit">Save Changes</button>
</form>

</body>
{% endblock %}
