{% extends 'Main/base.html' %}
{% block title %}Favorited Posts{% endblock %}
{% block content %}
<body style="background-color: #CFCFC4;">
    <h2>Favorited Posts</h2>
    <ul>
        {% for post in favorited_posts %}
            <li>
                <p>Author: {{ post.user.username }}</p>
                {% if post.content %}
                    <img src="{{ post.content.url }}" style="max-width: 100px; max-height: 100px;" alt="Post media file">
                {% else %}
                    <p>Post not available</p>
                {% endif %}
                <p>{{ post.caption }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
{% endblock %}