<!-- friend_requests.html -->

{% extends 'Main/base.html' %}
{% load static %}

{% block title %}Friend Requests{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">
</head>
<body>

    <!-- Friend Requests Section -->
    <div class="flex-item" id="friend-requests-container">
        <h2>Friend Requests:</h2>
        {% if friend_requests_received %}
                {% for friend_request in friend_requests_received %}
                    {% if friend_request.id is not None %}
                    <h1>{{ friend_request.from_user.username }}
                        <div class="button-container">
                            <a href="{% url 'accept_friend_request' friend_request.id%}" class="btn btn-success">Accept friend request</a>
                            <a href="{% url 'reject_friend_request' friend_request.id%}" class="btn btn-danger">Reject friend request</a>
                            <a href="{% url 'withdraw_friend_request' friend_request.id%}"class="bth btn-warning">Withdraw friend request</a>
                        </div>
                    </h1>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No friend requests.</p>
            {% endif %}
    </div>

</body>
</html>
{% endblock %}
