{% extends 'Main/base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
</head>
<body>
  
<!-- User Profile Header -->
<header class="user-header">
  <h1>Welcome, {{ user.username }}!</h1>
</header>

{% if edit_mode %}
  <!-- Edit Mode: Show the profile form for editing -->
  <form method="POST">
      {% csrf_token %}
      <label for="{{ form.birthday.id_for_label }}">Birthday:</label>
      {{ form.birthday }}
      <label for="{{ form.bio.id_for_label }}">Bio:</label>
      {{ form.bio }}
      <button type="submit">Update Profile</button>
  </form>
  <a href="/profile">Cancel</a>
  
{% else %}
  <!-- View Mode: Show the profile information -->
  <h2 class="user-fullname">{{ user.first_name }} {{ user.last_name }}</h2>
  <section class="user-birthday">
      <h2>Birthday:</h2>
      <p>{{ user.birthday }}</p>
  </section>
  <section class="user-bio">
      <h2>Bio:</h2>
      <p>
          {% if user.bio %}
              {{ user.bio }}
          {% else %}
              User hasn't added a bio yet.
          {% endif %}
      </p>
  </section>
  <a href="?edit=true">Edit Profile</a>
{% endif %}

</body>
</html>
{% endblock %}