{% extends 'Main/base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block content %}
  <!-- User Profile Header -->
  <header class="user-header">
    <h1>Welcome, {{ user.username }}!</h1>
    <h2 class="user-fullname">{{ user.first_name }} {{ user.last_name }}</h2>
  </header>

  <!-- User Bio Section -->
  <section class="user-bio">
    <h2>Bio:</h2>
    {% if user.bio %}
        <p>{{ user.bio }}</p>
    {% else %}
        <p class="no-bio">User hasn't added a bio yet.</p>
    {% endif %}
  </section>
{% endblock %}