{% extends 'Main/base.html' %}
{% load static %}
{% block title %}Update Profile{% endblock %}

{% block content %}

<body style="background-color: #CFCFC4;">

<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    <br>
    {{ profile_form.as_p }}

    <button type="submit">Update Profile Information</button>
</form>

</body>
{% endblock %}