{% extends 'Main/base.html' %}

{% block content %}
<body style="background-color: #CFCFC4;">

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Display the current uploaded file as an image, if it exists -->
    <div>
        {% if form.instance.content %}
        <img src="{{ form.instance.content.url }}" style="max-width: 100px; max-height: 100px;"alt="Current media file">
        {% endif %}
    </div>
    
    <!-- Render caption textarea -->
    <label for="{{ form.caption.id_for_label }}">Caption:</label>
    {{ form.caption }}
    
    <button type="submit">Share</button>
</form>

</body>
{% endblock %}

