{% extends 'Main/base.html' %}
{% load static %}
{% block title %}User Profile{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
    <style>
        .user-posts {
            max-height: 500px; /* Adjust the max height as needed */
            overflow-y: auto;
        }

        /* Additional styles for the scrollable posts section */
        .user-posts .list-group {
            margin-bottom: 0; /* Remove default bottom margin for better alignment */
        }

        .user-posts .list-group-item {
            border-bottom: none; /* Remove bottom border of each post item */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <header class="user-header">
                    {% if friend.profile.image %}
                        <img src="{{ friend.profile.image.url }}" style="max-width: 150px; max-height: 150px;">
                    {% else %}
                        <img src="{% static 'default-avatar.png' %}" style="max-width: 150px; max-height: 150px;" alt="Default Avatar">
                    {% endif %}
                
                    {% if not are_friends %}
                        {% if friend_requests_sent %}
                            <!-- Show when a friend request is pending -->
                            <h2 class="user-fullname"> {{friend.first_name}} {{friend.last_name}}
                                <a href="{% url 'withdraw_friend_request' friend.id friend.username %}" class="btn btn-warning">
                                    <i class="fas fa-clock"></i> Withdraw Request
                                </a>
                            </h2>
                        {% else %}
                            <!-- Show when no friend request has been sent -->
                            <h2 class="user-fullname"> {{ friend.first_name }} {{ friend.last_name }}
                                <a href="{% url 'send_friend_request' friend.id friend.username %}" class="btn btn-success">
                                    <i class="fas fa-user-plus"></i> Send Friend Request
                                </a>
                            </h2>
                        {% endif %}
                    {% else %}
                        <!-- Show when they are already friends -->
                        <h2 class="user-fullname"> {{ friend.first_name }} {{ friend.last_name }}
                            <a href="{% url 'remove_friend' friend.username %}" class="btn btn-danger">
                                <i class="fas fa-user-minus"></i> Remove Friend
                            </a>
                        </h2>
                    {% endif %}
                </header>

                <!-- User Birthday Section -->
                <section class="user-birthday">
                    <h2>Birthday: {{ friend.profile.birthday }}</h2>
                </section>

                <!-- User Bio Section -->
                <section class="user-bio">
                    <h2>Bio:</h2>
                    {% if friend.profile.bio %}
                        <p>{{ friend.profile.bio }}</p>
                    {% else %}
                        <p class="no-bio">User hasn't added a bio yet.</p>
                    {% endif %}
                </section>
            </div>
            <div class="col-md-8 {% if not are_friends %}blur-profile{% endif %}">
                <!-- User Posts Section -->
                <section class="user-posts">
                    <h2>{{ friend.username }}'s Posts:</h2>
                    <ul class="list-group">
                        {% for post in friend_posts %}
                            <li class="list-group-item">
                                <div class="post-info">
                                    {% if post.content %}
                                        {% if post.shared_user %}
                                            <p>Reposted from: {{ post.shared_user.username }}</p>
                                        {% endif %}
                                        <img src="{{ post.content.url }}" style="max-width: 200px; max-height: 200px;" alt="Post media file">
                                        <p>{{ post.caption }}</p>
                                        <form method="post" action="{% url 'like_u' friend.username post.id  %}" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="post_id" value="{{ post.id }}">
                                            <button type="submit" class="like-button">
                                                {% if request.user in post.liked_by.all %}<i class="fa-solid fa-heart"></i>{% else %}<i class="fa-regular fa-heart"></i>{% endif %}
                                            </button>
                                        </form>
                                        <form method="post" action="{% url 'dislike_u' friend.username post.id %}" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="post_id" value="{{ post.id }}">
                                            <button type="submit" class="dislike-button">
                                                {% if request.user in post.disliked_by.all %}<i class="fa-solid fa-thumbs-down"></i>{% else %}<i class="fa-regular fa-thumbs-down"></i>{% endif %}
                                            </button>
                                        </form>
    
                                        <form method="post" action="{% url 'favorite_u' friend.username post.id %}" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="post_id" value="{{ post.id }}">
                                            <button type="submit" class="favorite-button">
                                                {% if request.user in post.favorited_by.all %}<i class="fa-solid fa-star"></i>{% else %}<i class="fa-regular fa-star"></i>{% endif %}
                                            </button>
                                        </form>
    
                                        <form method="post" action="{% url 'share_post_u' friend.username post.id %}" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="post_id" value="{{ post.id }}">
                                            <button type="submit" class="share-button">
                                                <i class="fa-solid fa-share"></i>
                                            </button>
                                        </form>
    
                                        <p id="like-count-{{ post.id }}">{{ post.liked_by.count }} Likes {{post.disliked_by.count }} DisLikes</p>
                                        <p>Posted on: {{ post.created_at|date:"F d, Y" }}</p>
                                    {% else %}
                                        <p>Post not available</p>
                                    {% endif %}
                                </div>
                                <!-- Comments Section -->
                                <div class="comments-section">
                                    <h4>Comments:</h4>
                                    <ul>
                                        {% for comment in post.comments.all %}
                                            <li>{{ comment.user.username }}: {{ comment.content }}</li>
                                        {% empty %}
                                            <li>No comments yet.</li>
                                        {% endfor %}
                                    </ul>
                                    {% if post.can_comment %}
                                        <form method="post" action="{% url 'post_comment' post.id %}">
                                            {% csrf_token %}
                                            <textarea name="comment_content" placeholder="Add a comment..."></textarea>
                                            <button type="submit">Comment</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
