{% extends 'Main/base.html' %}
{% load static %}
{% block title %}User Profile{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
</head>
<body style="background-color: #CFCFC4;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- User Profile Header -->
                <header class="user-header">
                    {% if friend.profile.image %}
                        <img src="{{ friend.profile.image.url }}" style="max-width: 150px; max-height: 150px;">
                    {% else %}
                        <img src="{% static 'default-avatar.png' %}" style="max-width: 150px; max-height: 150px;" alt="Default Avatar">
                    {% endif %}
                    <h2 class="user-fullname">{{ friend.first_name }} {{ friend.last_name }}</h2>
                </header>

                <!-- User Birthday Section -->
                <section class="user-birthday">
                    <h2>Birthday: {{ friend.profile.birthday }}</h2>
                </section>

                <!-- User Bio Section -->
                <section class="user-bio">
                    <h2>Bio:</h2>
                    {% if friend.profile.bio %}
                        <p>{{ friend.profile.bio }}</p>
                    {% else %}
                        <p class="no-bio">User hasn't added a bio yet.</p>
                    {% endif %}
                </section>
            </div>
            <div class="col-md-6">
                <section class="user-posts">
                    <h2>User's Posts:</h2>
                    <ul class="list-group">
                        {% for post in friend_posts %}
                            <li class="list-group-item">
                                <div class="post-info">
                                    {% if post.content %}
                                        <img src="{{ post.content.url }}" style="max-width: 100px; max-height: 100px;" alt="Post media file">
                                    {% else %}
                                        <p>Post not available</p>
                                    {% endif %}
                                    <p>{{ post.caption }}</p>
                                    <form method="post" action="{% url 'like_u' friend.username post.id  %}" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="post_id" value="{{ post.id }}">
                                        <button type="submit" class="like-button">
                                            {% if request.user in post.liked_by.all %}<i class="fa-solid fa-heart"></i>{% else %}<i class="fa-regular fa-heart"></i>{% endif %}
                                        </button>
                                    </form>
                                    <form method="post" action="{% url 'dislike_u' friend.username post.id %}" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="post_id" value="{{ post.id }}">
                                        <button type="submit" class="dislike-button">
                                            {% if request.user in post.disliked_by.all %}<i class="fa-solid fa-thumbs-down"></i>{% else %}<i class="fa-regular fa-thumbs-down"></i>{% endif %}
                                        </button>
                                    </form>
    
                                    <form method="post" action="{% url 'favorite_u' friend.username post.id %}" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="post_id" value="{{ post.id }}">
                                        <button type="submit" class="favorite-button">
                                            {% if request.user in post.favorited_by.all %}<i class="fa-solid fa-star"></i>{% else %}<i class="fa-regular fa-star"></i>{% endif %}
                                        </button>
                                    </form>
    
                                    
                                    <form method="post" action="{% url 'share_post_u' friend.username post.id %}" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="post_id" value="{{ post.id }}">
                                        <button type="submit" class="share-button">
                                            <i class="fa-solid fa-share"></i>
                                        </button>
                                    </form>
    
                                    <p id="like-count-{{ post.id }}">{{ post.liked_by.count }} Likes {{post.disliked_by.count }} DisLikes</p>
                                    <p>Date posted: {{ post.created_at|date:"F d, Y" }}</p>
                                </div>
                                <!-- Comments Section -->
                                <div class="comments-section">
                                    <h4>Comments:</h4>
                                    <ul>
                                        {% for comment in post.comments.all %}
                                            <li>{{ comment.user.username }}: {{ comment.content }}</li>
                                        {% empty %}
                                            <li>No comments yet.</li>
                                        {% endfor %}
                                    </ul>
                                    {% if post.can_comment %}
                                        <form method="post" action="{% url 'post_comment' post.id %}">
                                            {% csrf_token %}
                                            <textarea name="comment_content" placeholder="Add a comment..."></textarea>
                                            <button type="submit">Comment</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
